<section id="result-view" class="view">
    <h2>404</h2>
    <p id="final-score">No such Quiz</p>
    <p id="score-message">We Are Sorry!</p>

    <a href="/" id="go-to-start-btn">Find New Quiz</a>
</section>