<section id="start-view" class="view active">
        <h1>Chose Your Quiz</h1>
        <div class="quiz-selection">
            <a class="quiz-btn" data-quiz-id="1" href="/quizzes/{{id}}">Quiz 1: History</a>
            <a class="quiz-btn" data-quiz-id="2" href="/quizzes/{{id}}">Quiz 2: Physics</a>
            <a class="quiz-btn" data-quiz-id="3" href="/quizzes/{{id}}">Quiz 3: Biology</a>
        </div>
    </section>